<div *ngIf="!authenticated">
  <venturini-welcome></venturini-welcome>
</div>

<div *ngIf="authenticated">

  <venturini-navbar> </venturini-navbar>

  <div>
    <!-- <mat-sidenav-container fullscreen> -->
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened>
        <venturini-sidenav></venturini-sidenav>
      </mat-sidenav>
      <mat-sidenav-content class="content mat-elevation-z8">
        <router-outlet> </router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>